/*
 * @Author: yukang 1172248038@qq.com
 * @Description:工具类
 * @Date: 2021-01-06 13:07:47
 * @LastEditTime: 2021-02-21 19:41:21
 */
/* eslint-disable */
var bem = require("./bem.wxs");
var memoize = require("./memoize.wxs");
var addUnit = require("./add-unit.wxs");

var includes = function (arr, val) {
  return (
    arr.filter(function (item) {
      return item === val;
    }).length > 0
  );
};

var zeroFill = function (val) {
  return val < 10 ? "0" + val : val;
};

var slice = function (val, end, start = 0) {
  return val && val.slice(start, end);
};

var baseUrl = function (val) {
  return "http://47.101.210.167:9999/" + val;
};

function formatTime(t) {
  return t.slice(0, 10).replace("-", "年").replace("-", "月") + "日";
}

module.exports = {
  bem: memoize(bem),
  memoize: memoize,
  addUnit: addUnit,
  includes: includes,
  zeroFill: zeroFill,
  slice: slice,
  baseUrl: baseUrl,
  formatTime: formatTime,
};
