@import "../../../assets/css/variables";
.home {
  &__scroll {
    height: calc(100vh - 88rpx);
  }
  &__tab {
    &__active {
      font-size: 28rpx !important;
      font-weight: bold !important;
    }
  }
  &__box {
    .van-tabs__wrap {
      margin-right: 25rpx;
    }
  }
  &__more {
    image {
      width: 34rpx;
      height: 34rpx;
    }
  }
}
