@import "../../../../assets/css/variables";
.edit-info {
  padding: $padding-xs;
  .cell {
    .van-cell__title {
      flex: inherit;
      min-width: 7em;
    }
    .van-cell__value {
      text-align: left;
    }
  }
  &__title {
    font-size: 32rpx;
    font-weight: bold;
    margin-bottom: $padding-md;
  }
  &__btn {
    margin: 200rpx $padding-md 0;
  }
  &__uploader {
    margin: 20rpx;
    &__title {
      color: #646566;
      font-size: 26rpx;
      margin-bottom: 20rpx;
    }
  }
  &__textarea {
    color: #323233;
    &__input {
      height: 320rpx;
      width: 652rpx;
      font-size: 28rpx;
      color: $text-normal;
      background-color: $border-color;
      border-radius: $border-radius-md;
      padding: 25rpx;
    }
    &__length {
      text-align: right;
      margin-top: 20rpx;
    }
  }
}
