@import "../../assets/css/variables";
.container {
  min-height: 100vh;
  --button-primary-background-color: #1cbc9a;
  --button-primary-border-color: #1cbc9a;

  &--gap {
    padding-top: 20rpx;
  }

  &--gray {
    background-color: $bg-color;
  }

  &::before {
    content: " ";
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    box-sizing: border-box;
    transform-origin: 0 0;
    width: 199.8%;
    height: 199.7%;
    transform: scale(0.5, 0.5);
    border: 0 solid #e4e7ed;
    z-index: 2;
    border-top-width: 1px;
  }
}
